* {
  margin: 0;
  box-sizing: border-box;
}
.app > h1 {
  color: black;
  align-items: center;
}
.app__main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  background-color: darkgray;
}
.app__main > .dnd {
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  padding: 20px;
  width: 100%;
  margin: 10px;
  border-radius: 5px;
}
.dnd > h1 {
  text-align: center;
}
.app__main > .dnd > .item {
  margin: 10px;
  cursor: pointer;
  background-color: sienna;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
